.clear {
    clear: both;
}

#admin-dashboard {
    width: 100%;
    overflow: hidden;
}

#admin-actions {
    width: 200px;
    float: left;
    border-right: 2px solid #E8E7E4;
    margin: 0 10px 0 0;
    padding: 0 20px 0 0;
}

#admin-widgets {
    float: left;
    margin: 0 20px 0 10px;
}

.admin-extras-level-2 {
    margin-left: 20px;
}

.admin-extras .widget-actions a {
    border-right: none;
    border-left: 1px solid #CCC;
    float: right;
}

.admin-widget {
    border: 1px solid #CCC;
    margin: 0 0 20px;
}

.widget-content p {
    padding: 10px;
}

.widget-content th {
    font-size: 11px;
    font-weight: 400;
}

.widget-sys-settings li a img {
    margin: 0 4px -3px 0;
}

.widget-content ul {
    margin: 5px 5px 10px;
    padding: 0;
}

.widget-content li {
    list-style-type: none;
    padding: 5px 0;
}

.widget-content caption {
    text-align: left;
    margin-left: 10px;
}

.widget-large {
    width: 460px;
}

.widget-small {
    width: 200px;
}

.widget-manage table {
    margin-top: 5px;
    width: 100%;
}

.widget-manage td, .widget-manage th {
    padding-top: 5px;
}

.widget-manage .addlink {
    background-image: url("../images/db-add.png");
    background-position: 27px 0;
    display: block;
    width: 23px;
    padding: 0 21px 5px 0;
}

#dashboard-nav, .dashboard-alert-wrap {
    color: #0003B2;
    overflow: hidden;
    background: #C3DFF2;
    border: 1px solid #89867F;
    margin: 0 0 20px;
}

#dashboard-nav ul {
    margin: 0;
    padding: 0;
}

#dashboard-nav ul.admin-menu {
    float: left;
    margin: 5px 0 0 20px;
}

#dashboard-nav li {
    list-style-type: none;
}

#dashboard-nav li, #dashboard-nav li a {
    float: left;
    font-size: 16px;
    margin: 2px 10px;
}

#dashboard-nav li.nav-first, #dashboard-nav li.nav-first a {
    margin-left: 0;
    padding-left: 0;
}

.dashboard-alert-wrap {
    color: #454439;
    background: #FFF299;
    background-image: url("../images/admin/alert_bg.png");
    background-repeat: repeat-x;
    position: relative;
    border: 1px solid #C0A741;
}

.dashboard-alert {
    background-image: url("../images/admin/logo-opacity.png");
    background-repeat: no-repeat;
    background-position: 95% 35%;
}

.dashboard-alert p {
    margin: 0;
    padding: 5px 20px;
}

.close-alert {
    right: 10px;
    top: 10px;
    position: absolute;
}

.widget-heading {
    cursor: pointer;
    text-transform: uppercase;
    color: #000;
    font-size: 11px;
    font-weight: 400;
    background: #A2BEDC;
    border-bottom: 1px solid #728EAC;
    background-image: url("../images/title_box_top_bg.png");
    margin: 0;
    padding: 5px 10px 5px 5px;
}

.widget-heading img {
    float: right;
    overflow: hidden;
    margin-top: 2px;
}

.widget-actions {
    overflow: hidden;
    background: url("../images/admin/header_bg.png") repeat-x scroll left bottom transparent;
    border-bottom: 1px solid #999;
    border-right: 1px solid #CCC;
    border-top: 1px solid #999;
    color: #000;
    font-weight: 700;
    text-align: left;
    white-space: nowrap;
    padding: 0;
}

.widget-actions a {
    color: #000;
    font-size: 12px;
    font-weight: 400;
    text-decoration: none;
    display: block;
    height: 20px;
    float: left;
    border-right: 1px solid #CCC;
    padding: 6px 5px 0;
}

.widget-actions a:hover {
    background: url("../images/admin/header_bg_primary.png") repeat-x scroll left bottom transparent;
    text-decoration: underline;
}

.widget-actions a.btn-right {
    float: right;
    border-right: none;
    border-left: 1px solid #CCC;
}

.admin-title {
    width: 160px;
    height: 21px;
    color: #3B3B3B;
    font-weight: 700;
    float: right;
    position: relative;
    text-align: left;
    background-color: #F9F2C9;
    background-image: url("../images/admin/yellow_bg_small.png");
    background-repeat: repeat-x;
    overflow: hidden;
    border-left: 1px solid #89867F;
    padding: 9px 30px 0 10px;
}

.admin-title img {
    position: absolute;
    top: 2px;
    right: 5px;
}

.admin-sidebar {
    border: none;
}

.admin-sidebar .widget-heading {
    background: none;
}

.widget-content {
    position: relative;
}

#user-count {
    border-top: 1px solid #ccc;
    bottom: 10px;
    color: #545454;
    padding-left: 30px;
    padding-top: 5px;
    position: absolute;
    right: 20px;
    text-align: left;
    width: 99px;
}

.news-content-widget .entry {
    padding: 5px;
}

.news-content-widget .entry h3 {
    font-weight: 400;
    font-size: 10px;
    padding: 0;
}

.entry-title {
    margin-top: 0;
}

#server-cache th, #review-groups th, .td-count {
    color: #4b4b4b;
}

#server-cache td, #server-cache th {
    font-size: 10px;
}

.widget-system-info li, #server-cache tr, .news-content-widget .entry, #review-groups tr, .widget-manage tr, #repositories tr {
    border-bottom: 1px solid #F5F5F5;
}

.widget-system-info img {
    float: right;
}

.td-center {
    text-align: center;
}

.request-percentage-label {
    font-size: 8pt;
    text-align: center;
    color: #FFF;
    padding: 2px;
}


.admin-version, .td-right {
    text-align: right;
}

.widget-content li a, .widget-large table a, .news-content-widget .entry a {
    display: block;
}

/* Dynamic Screen Size */
.admin-extras, .vpgt981 .admin-extras {
    float: left;
}

.vpgt1229 .admin-extras .widget-small {
    margin-left: 20px;
    float: left;
}

.vplt1673 .admin-widget-3, .vplt1451 .admin-widget-2, .vplt1229 .admin-widget-1 {
    clear: left;
}

.vplt980 .admin-extras .admin-widget {
    float: left;
    clear: none;
    margin-right: 40px;
}

.vplt980 .admin-extras .admin-widget-0 {
    margin-left: 0;
}

.widget-large-table, .vplt980 .admin-extras {
    width: 100%;
}