{% load i18n %}
<table class="widget-large-table">
    <thead>
    <tr>
        <th>{% trans "Name" %}</th>
        <th>{% trans "Tool" %}</th>
        <th style="width:45px;" class="td-center">{% trans "Visible" %}</th>
    </tr>
    </thead>
    {% if widget_data %}
        {% for repository in widget_data %}
            <tr>
                <td><a href="db/scmtools/repository/{{repository.id}}">{{ repository.name }}</a></td>
                <td>{{ repository.tool }}</td>
                <td class="td-center">{% if repository.visible %}
                    <img src="{{media_url}}rb/images/shipit.png?{{media_serial}}" alt="Visible"
                         title="Visible"/>{% else %}
                    <img src="{{media_url}}rb/images/disabled.png?{{media_serial}}" alt="Invisible"
                         title="Invisible" />
                         {% endif %}
                </td>
            </tr>
        {% endfor %}
    {% endif %}
</table>