<table class="widget-rows" style="width: 100%;">
    <tr>
        <th>Comments</th>
        <td>{{widget_data.count_comments}}</td>
    </tr>
     <tr>
        <th>Reviews</th>
        <td>{{widget_data.count_reviews}}</td>
    </tr>
     <tr>
        <th>Request Drafts</th>
        <td>{{widget_data.count_reviewdrafts}}</td>
    </tr>
     <tr>
        <th>Screenshots</th>
        <td>{{widget_data.count_screenshots}}</td>
    </tr>
     <tr>
        <th>Attachments</th>
        <td>{{widget_data.count_attachments}}</td>
    </tr>
     <tr>
        <th>DiffSets</th>
        <td>{{widget_data.count_diffsets}}</td>
    </tr>
</table>