{% load i18n %}

<div id="placeholder-stats" style="width: 450px; height: 250px;"></div>
 <input type="hidden" value="{{widget_data.end_date|date:"U" }}" id="data-activity-start" />
 <input type="hidden" value="{{widget_data.start_date|date:"U" }}" id="data-activity-end" />

 <script>
$(function () {

    var choiceContainer = $("#stats-large");

    // helper for returning the weekends in a period
    function weekendAreas(axes) {
        var markings = [];
        var d = new Date(axes.xaxis.min);
        // go to the first Saturday
        d.setUTCDate(d.getUTCDate() - ((d.getUTCDay() + 1) % 7))
        d.setUTCSeconds(0);
        d.setUTCMinutes(0);
        d.setUTCHours(0);
        var i = d.getTime();
        do {
            // when we don't set yaxis, the rectangle automatically
            // extends to infinity upwards and downwards
            markings.push({ xaxis: {from: i, to: i + 2 * 24 * 60 * 60 * 1000}});
            i += 7 * 24 * 60 * 60 * 1000;
        } while (i < axes.xaxis.max);

        return markings;
    }




    function plotAccordingToChoices(datasets,options) {
        var data = [];
        if ($(this).hasClass('btn-s-checked')) {
         $(this).removeClass('btn-s-checked');
        } else {
         $(this).addClass('btn-s-checked');
        }
        choiceContainer.find(".btn-s-checked").each(function () {
              var key = $(this).attr("id");
              if (key && datasets[key])
                  data.push(datasets[key]);
        });
        if (data.length > 0)
            $.plot($("#placeholder-stats"), data, options);
      return false;
    }
/*
     function showTooltip(x, y, contents) {
           $('<div id="tooltip">' + contents + '</div>').css( {
               position: 'absolute',
               display: 'none',
               top: y + 5,
               left: x + 5,
               border: '1px solid #fdd',
               padding: '2px',
               'background-color': '#fee',
               opacity: 0.80
           }).appendTo("body").fadeIn(200);
       }
 */
/*
    var previousPoint = null;
        $("#placeholder-stats").bind("plothover", function (event, pos, item) {
            $("#x").text(pos.x.toFixed(2));
            $("#y").text(pos.y);

            if (item) {
                if (previousPoint != item.dataIndex) {
                    previousPoint = item.dataIndex;

                    $("#tooltip").remove();
                    var itemDate = new Date(item.datapoint[0])
                    var x = itemDate,
                        y = item.datapoint[1];

                    showTooltip(item.pageX, item.pageY,
                                item.series.label + " on " + x + ": " + y);
                }
            }
            else {
                $("#tooltip").remove();
                previousPoint = null;
            }

        });
*/
    function getActivityData(direction) {

      var input_range_start = $("#data-activity-start").val(),
      input_range_end = $("#data-activity-end").val();

      $.getJSON("widget-activity/?range_start=" + input_range_start + "&range_end=" + input_range_end + "&direction=" + direction, function(data) {

           var start_array = new Array();
           start_array = (data.range.range_start).split('-');
           var end_array = new Array();
           end_array = (data.range.range_end).split('-');
           min_date = new Date(start_array[0], start_array[1]-1, start_array[2]).getTime();
           max_date = new Date(end_array[0], end_array[1]-1, end_array[2]).getTime();

           d = data.activity_data.change_descriptions;
           d2 = data.activity_data.comments
           d3 = data.activity_data.review_requests
           d4 = data.activity_data.reviews

             var options = {
            xaxis: { mode: "time", tickLength: 1,  min: (new Date(min_date)).getTime(),   max: (new Date(max_date)).getTime()},
            yaxis : { min: 0 , tickDecimals: 0},
            grid: { markings: weekendAreas, hoverable: true },
            series: { points: { show: true, radius: 3 },   lines: { show: true }},
            legend: { position: 'nw' }
           };

             var datasets = {
              "set-descriptions": {
               label: "Change Descriptions",  data: d,  bars: { show: true }, lines: {show: false}
              },
              "set-comments": {
               label: "Comments",  data: d2 ,  bars: { show: true }, lines: {show: false}
              },
              "set-reviews": {
               label: "Reviews",  data: d3,  bars: { show: true }, lines: {show: false}
              },
              "set-requests": {
               label: "Review Requests",  data: d4,  bars: { show: true }, lines: {show: false}
              }
              }

               // hard-code color indices to prevent them from shifting as
               // datasets are turned on/off
               var i = 0;
               $.each(datasets, function(key, val) {
                   val.color = i;
                   ++i;
               });


              choiceContainer.find(".btn-s").click(plotAccordingToChoices(datasets,options));
              plotAccordingToChoices(datasets,options);




          }
      );

 
    }






    $("#set-next").click(function () {
      getActivityData("next");
      return false
    });

    $("#set-prev").click(function () {
      getActivityData("prev");
      return false
    });

     getActivityData("none");

});
</script>