{% load i18n %}
{% if widget_data.change_descriptions %}
<div id="placeholder-stats" style="width: 450px; height: 150px;"></div>

 <script>
$(function () {

// Change Descriptions - chart data
  var d2 = [
     {% for description in  widget_data.change_descriptions %}
           [{{description.timestamp|date:"U"}}000, {{description.created_count}}],
     {% endfor %}
    ];

// Comments - chart data
  var d3 = [
     {% for comment in  widget_data.comments %}
           [{{comment.timestamp|date:"U"}}000, {{comment.created_count}}],
     {% endfor %}
    ];

// Reviews - chart data
 var d4 = [
    {% for review in  widget_data.reviews %}
          [{{review.timestamp|date:"U"}}000, {{review.created_count}}],
    {% endfor %}
   ];



    // first correct the timestamps - they are recorded as the daily
    // midnights in UTC+0100, but Flot always displays dates in UTC
    // so we have to add one hour to hit the midnights in the plot
    for (var i = 0; i < d.length; ++i)
      d[i][0] += 60 * 60 * 1000;

    // helper for returning the weekends in a period
    function weekendAreas(axes) {
        var markings = [];
        var d = new Date(axes.xaxis.min);
        // go to the first Saturday
        d.setUTCDate(d.getUTCDate() - ((d.getUTCDay() + 1) % 7))
        d.setUTCSeconds(0);
        d.setUTCMinutes(0);
        d.setUTCHours(0);
        var i = d.getTime();
        do {
            // when we don't set yaxis, the rectangle automatically
            // extends to infinity upwards and downwards
            markings.push({ xaxis: {from: i, to: i + 2 * 24 * 60 * 60 * 1000}});
            i += 7 * 24 * 60 * 60 * 1000;
        } while (i < axes.xaxis.max);

        return markings;
    }

    var options = {
        xaxis: { mode: "time", tickLength: 5},
        yaxis : { min: 0 , tickDecimals: 0},
        selection: { mode: "x" },
        grid: { markings: weekendAreas },
        series: { points: { show: true, radius: 3 },   lines: { show: true }},
          legend: { position: 'nw' }
    };

    var plot = $.plot($("#placeholder-stats"),[
        { label: "Comments",  data: d3 ,  bars: { show: true }, lines: {show: false}},
        { label: "Change Descriptions",  data: d2,  bars: { show: true }, lines: {show: false}},
        { label: "Reviews",  data: d4,  bars: { show: true }, lines: {show: false}}
    ], options);


});
</script>
{% else %}
<p> {% trans "No Data available at this time..." %}</p>
 <!-- TODO Style This Section -->
{% endif %}