{% extends "admin/base_site.html" %}
{% load adminmedia %}
{% load rbadmintags %}
{% load i18n %}
{% load log %}

{% block coltype %}colM{% endblock %}
{% block bodyclass %}dashboard{% endblock %}
{% block breadcrumbs %}{% endblock %}

{% block extrahead %}
<script type="text/javascript" src="{{MEDIA_URL}}djblets/js/jquery-1.3.2.min.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}rb/js/flot/jquery.flot.min.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}rb/js/flot/jquery.flot.pie.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}rb/js/flot/jquery.flot.selection.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}rb/js/admin.js"></script>

<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}rb/css/common.css?{{MEDIA_SERIAL}}" />
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}rb/css/admin-dashboard.css?{{MEDIA_SERIAL}}" />
<style>

@media screen and (max-width: 1230px) {
 .admin-extras-level-2{
  width: 100%;
  margin: 20px 0px 0px 20px;
 }

 .admin-extras-level-2 .widget-small {
  float: left;
  margin-right: 35px;
 }

 .admin-extras-level-2 .widget-last {
  margin-right: 0px;
 }
}


@media screen and (max-width: 979px) {
.admin-extras{
 width: 100%;
 margin-right: 0px;
}

.admin-extras-level-2 {
 margin-left: 0px;
}

.admin-extras .widget-small {
 float: left;
 margin-right: 35px;
}

.admin-extras .widget-last {
 margin-right: 0px;
}
   }


</style>
{% endblock %}

{% block content %}
{% include "base/base_header.html" %}

 <p>Viewport size is <span id="vpWidth"></span> x <span id="vpHeight"></span></p>
    <script>
	function getViewportSize () {
		document.getElementById('vpWidth').innerHTML = window.innerWidth;
		document.getElementById('vpHeight').innerHTML = window.innerHeight;
	}
	getViewportSize ();
	window.onresize = function(){getViewportSize()};

	</script>
<!-- New Stuff -->
<div id="admin-dashboard" class="clear">

 <div id="dashboard-nav">
  <ul class="admin-menu">
      <li class="nav-first"><a href="{% url reviewboard.admin.views.dashboard %}">{% trans "Dashboard" %}</a></li>
      <li><a href="{% url reviewboard.admin.views.dashboard %}db/">{% trans "Database" %}</a></li>
      <li><a href="{% url site-settings %}">{% trans "Settings" %}</a></li>
  </ul>
  <div class="admin-title">Review Board Admin
   <img src="{{MEDIA_URL}}rb/images/admin/gears.png?{{MEDIA_SERIAL}}"
     alt="Review Board Admin" />
  </div>

 </div>

 <div class="dashboard-alert-wrap">
  <div class="dashboard-alert">
   <a href="#" class="close-alert"><img src="{{MEDIA_URL}}rb/images/delete.png?{{MEDIA_SERIAL}}"
    alt="Close Alert" title="Close Alert" width="14" height="14" /></a>
   <p><strong>Welcome to Review Board Administration!</strong></p>
   <p>This is your first time using the admin panel.</p>
   <p>Enjoy Review Board!</p>
  </div>
 </div>


 <div id="dashboard-view">
     <!-- Action Bar -->
     <div id="admin-actions" class="clear">


     <!-- Single Widget - Small -->
      <div class="admin-widget admin-sidebar">
       <h1 class="widget-heading">{% trans "System Settings" %}</h1>
       <div class="widget-content">
           <ul>
            {% admin_subnav "settings-general" _("General") "rb/images/reviewrequest.png" %}
            {% admin_subnav "settings-authentication" _("Authentication") "rb/images/admin/set-auth.png" %}
            {% admin_subnav "settings-email" _("E-Mail") "rb/images/admin/set-email.png" %}
            {% admin_subnav "settings-diffs" _("Diff Viewer") "rb/images/admin/set-diff.png" %}
            {% admin_subnav "settings-logging" _("Logging") "rb/images/admin/set-log.png" %}
            {% admin_subnav "settings-ssh" _("SSH") "rb/images/admin/set-ssh.png" %}
            {% admin_subnav "settings-storage" _("File Storage") "rb/images/admin/set-storage.png" %}
           </ul>
       </div>
      </div>
      <!-- Single Widget Small -->



      <div class="admin-widget admin-sidebar">
       <h1 class="widget-heading">{% trans "Manage" %}</h1>
       <div class="widget-content admin-box action-box">
        <table summary="{% trans "Common management operations." %}">
         <tbody>
          <tr>
           <th scope="row"><a href="db/auth/user/">{% trans "Users" %}</a>
            <span class="count">({{user_count}})</span></th>
           <td><a class="addlink" href="db/auth/user/add/">{% trans "Add" %}</a></td>
          </tr>
          <tr>
            <th scope="row"><a href="db/reviews/group/">{% trans "Review Groups" %}</a>
             <span class="count">({{reviewgroup_count}})</span></th>
            <td><a class="addlink" href="db/reviews/group/add/">{% trans "Add" %}</a></td>
          </tr>
          <tr>
            <th scope="row"><a href="db/reviews/defaultreviewer/">{% trans "Default Reviewers" %}</a>
             <span class="count">({{defaultreviewer_count}})</span></th>
            <td><a class="addlink" href="db/reviews/defaultreviewer/add/">{% trans "Add" %}</a></td>
          </tr>
          <tr>
             <th scope="row"><a href="db/scmtools/repository/">{% trans "Repositories" %}</a>
              <span class="count">({{repository_count}})</span></th>
             <td><a class="addlink" href="db/scmtools/repository/add/">{% trans "Add" %}</a></td>
          </tr>
         </tbody>
        </table>
       </div>
      </div>





      <div class="admin-widget admin-sidebar">
       <h1 class="widget-heading">System Information</h1>
       <div class="widget-content admin-box action-box">
        <ul>
         <li><a href="cache/">{% trans "Server Cache" %}</a></li>
         <li>
          {% if settings.LOGGING_ENABLED and settings.LOGGING_DIRECTORY %}
           <a href="{% url server-log %}">
               {% trans "Server Log" %}
           </a>
          {% endif %}
         </li>
         <li>Public Read-only access -  <span class="disabled">{% if site_configs.read_only %}Enabled{% else %}Disabled{% endif %}</span></li>
         <li>Syntax Highlighting -  <span class="disabled">{% if site_configs.syntax_highlighting %}Enabled{% else %}Disabled{% endif %}</span></li>
         <li>Logging -  <span class="disabled">{% if site_configs.syntax_highlighting %}Enabled{% else %}Disabled{% endif %}</span> </li>
         <li>Log Profiling <span class="disabled">{% if site_configs.logging_allow_profiling %}Enabled{% else %}Disabled{% endif %}</span></li>
         <li>Review Emails - <span class="disabled">{% if site_configs.mail_send_review_mail %}Enabled{% else %}Disabled{% endif %}</span> </li>
         <li>Email TLS Authentication - <span class="disabled">{% if site_configs.mail_use_tls %}Enabled{% else %}Disabled{% endif %}</span></li>
         <li>Search Functionality - <span class="disabled">{% if site_configs.read_only %}Enabled{% else %}Disabled{% endif %}</span></li>
         <li class="t-align-r">Version - {{version}}</li>
        </ul>
       </div>
      </div>
     
     </div>
     <!-- Action Bar End -->
     <!-- Widgets -->
     <div id="admin-widgets">

      <!-- Single Widget - Large -->
      <div class="admin-widget widget-large">
       <h1 class="widget-heading">Review Requests</h1>
       <div class="widget-content">

           <!-- Place Holder -->
           <div id="placeholder" style="width: 450px; height: 200px;"></div>
           <div id="overview" style="margin-left:50px;margin-top:20px;width:400px;height:50px"></div>

           <script id="source">
$(function () {
    /*
    var d = [
     {% for request in review_requests %}
           [{{ request.time_added|date:"U"  }}000, 35],
     {% endfor %}
    ];
    */

  var d = [
     {% for req in req_array %}
           [{{ req.1|date:"U"  }}000, {{req.0}}],
     {% endfor %}
    ];


// Pending
  var d2 = [
     {% for req in req_array %}
           [{{ req.1|date:"U"  }}000, 2],
     {% endfor %}
    ];


// Submitted
  var d3 = [
     {% for req in req_array %}
           [{{ req.1|date:"U"  }}000, 3],
     {% endfor %}
    ];

// Draft
  var d4 = [
     {% for req in req_array %}
           [{{ req.1|date:"U"  }}000, 5],
     {% endfor %}
    ];

    // first correct the timestamps - they are recorded as the daily
    // midnights in UTC+0100, but Flot always displays dates in UTC
    // so we have to add one hour to hit the midnights in the plot
    for (var i = 0; i < d.length; ++i)
      d[i][0] += 60 * 60 * 1000;

    // helper for returning the weekends in a period
    function weekendAreas(axes) {
        var markings = [];
        var d = new Date(axes.xaxis.min);
        // go to the first Saturday
        d.setUTCDate(d.getUTCDate() - ((d.getUTCDay() + 1) % 7))
        d.setUTCSeconds(0);
        d.setUTCMinutes(0);
        d.setUTCHours(0);
        var i = d.getTime();
        do {
            // when we don't set yaxis, the rectangle automatically
            // extends to infinity upwards and downwards
            markings.push({ xaxis: { from: i, to: i + 2 * 24 * 60 * 60 * 1000 } });
            i += 7 * 24 * 60 * 60 * 1000;
        } while (i < axes.xaxis.max);

        return markings;
    }

    var options = {
        xaxis: { mode: "time", tickLength: 5},
        yaxis : { min: 0 , tickDecimals: 0},
        selection: { mode: "x" },
        grid: { markings: weekendAreas },

        series: { points: { show: true, radius: 3 },   lines: { show: true }}
    };

    var plot = $.plot($("#placeholder"), [d], options);

    var overview = $.plot($("#overview"), [d], {
        series: {
            lines: { show: true, lineWidth: 1 },
            shadowSize: 0
        },
        xaxis: { ticks: [], mode: "time" },
        yaxis: { ticks: [], min: 0, autoscaleMargin: 0.1 },
        selection: { mode: "x" }
    });

    // now connect the two

    $("#placeholder").bind("plotselected", function (event, ranges) {
        // do the zooming
        plot = $.plot($("#placeholder"), [d],
                      $.extend(true, {}, options, {
                          xaxis: { min: ranges.xaxis.from, max: ranges.xaxis.to }
                      }));

        // don't fire event on the overview to prevent eternal loop
        overview.setSelection(ranges, true);
    });

    $("#overview").bind("plotselected", function (event, ranges) {
        plot.setSelection(ranges);
    });
});
</script>

       </div>
       <div class="widget-actions">
        <a class="a-right" href="">View All</a>
        <a class="a-right" href="">View Drafts</a>
       </div>
      </div>
      <!-- Single Widget - Large End -->

      <!-- Single Widget - Large -->
      <div class="admin-widget widget-large">
       <h1 class="widget-heading">Repositories</h1>
       <div class="widget-content">
        <table class="widget-large-table">
        <thead>
            <tr><th>Name</th><th>Tool</th><th>Visible</th></tr>
        </thead>
        {% if repositories %}
           {% for repo in repositories %}
            <tr>
             <td><a href="">{{repo.name}}</a></td>
             <td>{{repo.tool}}</td>
             <td>{% if repo.visible %}
              <img src="{{MEDIA_URL}}rb/images/shipit.png?{{MEDIA_SERIAL}}" alt="Visible" title="Visible" />{% endif %}
             </td>
            </tr>
           {% endfor %}
        {% endif %}
        </table>
       </div>
       <div class="widget-actions">
        <a href="db/scmtools/repository/add/">Add New</a>
        <a class="a-right" href="db/scmtools/repository/">View All</a>
       </div>
      </div>
      <!-- Single Widget - Large End -->

      <!-- Single Widget - Large -->
      <div class="admin-widget widget-large">
       <h1 class="widget-heading">User Activity</h1>
       <div class="widget-content">

       <script type="text/javascript">

            $(function () {
                // data
                var data = [
                    { label: "Active  ({{  activity_list.now }})",  data: {{  activity_list.now }}},
                    { label: "7 days ago ({{  activity_list.seven_days }})",  data: {{  activity_list.seven_days }}},
                    { label: "30 days ago ({{  activity_list.thirty_days }})",  data: {{  activity_list.thirty_days }}},
                    { label: "60 days ago ({{  activity_list.sixty_days }})",  data: {{  activity_list.sixty_days }}},
                    { label: "90 days ago ({{  activity_list.ninety_days }})",  data: {{  activity_list.ninety_days }}}
                ];
                // DEFAULT
                $.plot($("#user-chart"), data,
                {
                    series: {
                        pie: {
                            show: true,
                            label: {
                                show: true,
                                radius: 1,
                                formatter: function(label, series){
                                    return '<div>' + Math.round(series.percent)+'%</div>';
                                },
                                background: { opacity: 0.8 }
                            }
                        }
                    }
                });
            });
       </script>
           
        <div id="user-chart" style="width: 450px; height: 160px;"></div>
         <div id="user-count">
          Total Users: <strong>{{ user_count }}</strong>
         </div>
       </div>
       <div class="widget-actions">
        <a href="">Add New</a>
        <a class="a-right" href="">Manage Users</a>
       </div>
      </div>
      <!-- Single Widget - Large End -->
     </div>


     <div class="admin-extras">

      <div class="admin-widget widget-small">
       <h1 class="widget-heading"> Request Statuses</h1>
       <div class="widget-content admin-box action-box">
        <div id="requests-percentages" style="width: 190px; height: 165px;"></div>
            <script type="text/javascript">

            $(function () {
                // data
                var data = [
                    { label: "Pending",  data: {{  req_percentage_list.pending }}},
                    { label: "Draft",  data: {{  req_percentage_list.draft }}},
                    { label: "Submit",  data: {{  req_percentage_list.submit }}}
                ];
                // DEFAULT
                $.plot($("#requests-percentages"), data,
                {
                           series: {
                                pie: {
                                    show: true,
                                    radius: 1,
                                    label: {
                                        show: true,
                                        radius: 1,
                                        formatter: function(label, series){
                                            return '<div style="font-size:8pt;text-align:center;padding:2px;color:white;">'+label+'<br/>'+Math.round(series.percent)+'%</div>';
                                        },
                                        background: { opacity: 0.8 }
                                    }
                                }
                            },
                            legend: {
                                show: false
                            }
                });
            });
       </script>
       </div>
      </div>



      <div class="admin-widget widget-small">
       <h1 class="widget-heading">Review Groups
        <a href=""><img src="{{MEDIA_URL}}rb/images/admin/set-auth.png?{{MEDIA_SERIAL}}"
         alt="Groups" width="20" height="20" /></a></h1>
       <div class="widget-content admin-box action-box">
           <ul class="widget-list">
             {% for group in reviewgroups %}
               <li> {{ group.display_name  }} :: <strong>{{ group.users.count }}</strong></li>
             {% endfor %}  
           </ul>
       </div>
       <div class="widget-actions">
        <a href="db/reviews/group/add/">Add New</a>
        <a href="db/reviews/group/">{% trans "View All" %}</a>
       </div>
      </div>



       {% if cache_hosts %}
      <div class="admin-widget widget-small">
       <h1 class="widget-heading">Server Cache
        <a href=""><img src="{{MEDIA_URL}}rb/images/admin/set-storage.png?{{MEDIA_SERIAL}}"
         alt="Groups" width="20" height="20" /></a></h1>
       <div class="widget-content admin-box action-box">
        {%  for hostname,stats in cache_hosts %}
         <table>
          <colgroup>
           <col width="40%" />
           <col width="60%" />
          </colgroup>
          <tr>
           <th scope="row">{% trans "Memory usage:" %}</th>
           <td>{{stats.bytes|filesizeformat}}</td>
          </tr>
          <tr>
           <th scope="row">{% trans "Keys in cache:" %}</th>
           <td>{{stats.curr_items}} of {{stats.total_items}}</td>
          </tr>
          <tr>
           <th scope="row">{% trans "Cache hits:" %}</th>
           <td>{{stats.get_hits}} of {{stats.cmd_get}}: {{stats.hit_rate}}%</td>
          </tr>
          <tr>
           <th scope="row">{% trans "Cache misses:" %}</th>
           <td>{{stats.get_misses}} of {{stats.cmd_get}}: {{stats.miss_rate}}%</td>
          </tr>
          <tr>
           <th scope="row">{% trans "Cache evictions:" %}</th>
           <td>{{stats.evictions}}</td>
          </tr>
          <tr>
           <th scope="row">{% trans "Cache traffic:" %}</th>
           <td>{{stats.bytes_read|filesizeformat}} in,
               {{stats.bytes_written|filesizeformat}} out</td>
          </tr>
          <tr>
           <th scope="row">{% trans "Uptime:" %}</th>
           <td>{{stats.uptime}} seconds</td>
          </tr>
         </table>
       {% endfor %}
       </div>
      </div>
        {% endif %}



      <!-- Single Widget - Small -->
      <div class="admin-widget widget-small">
       <h1 class="widget-heading">Review Board News<a href="feed/news/rss/">
       <img src="{{MEDIA_URL}}rb/images/rss.png?{{MEDIA_SERIAL}}" alt="RSS" width="14" height="14" /></a></h1>

       <div class="widget-content" id="news-content-widget">
        <img src="{{MEDIA_URL}}rb/images/spinner.gif?{{MEDIA_SERIAL}}"
	     class="loading-indicator" width="16" height="16" border="0" alt="" />
	    {% trans "Loading..." %}
       </div>
       <div class="widget-actions">
        <a href="http://www.reviewboard.org/news/">More News</a>
        <a href="" id="reload-news">{% trans "Reload" %}</a>
       </div>
      </div>
      <!-- Single Widget Small -->



     </div><!-- Admin Extras End -->
     <!-- Widgets End -->
    </div>
 </div>
<br class="clear" />
{% endblock %}