{% extends "admin/base_site.html" %}
{% load adminmedia %}
{% load rbadmintags %}
{% load i18n %}
{% load log %}

{% block coltype %}colM{% endblock %}
{% block bodyclass %}dashboard{% endblock %}
{% block breadcrumbs %}{% endblock %}

{% block extrahead %}
<script type="text/javascript" src="{{MEDIA_URL}}djblets/js/jquery-1.3.2.min.js?{{MEDIA_SERIAL}}"></script>
<script type="text/javascript" src="{{MEDIA_URL}}rb/js/flot/jquery.flot.min.js?{{MEDIA_SERIAL}}"></script>
<script type="text/javascript" src="{{MEDIA_URL}}rb/js/flot/jquery.flot.pie.min.js?{{MEDIA_SERIAL}}"></script>
<script type="text/javascript" src="{{MEDIA_URL}}rb/js/flot/jquery.flot.selection.min.js?{{MEDIA_SERIAL}}"></script>
<script type="text/javascript" src="{{MEDIA_URL}}rb/js/admin.js?{{MEDIA_SERIAL}}"></script>

<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}rb/css/common.css?{{MEDIA_SERIAL}}" />
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}rb/css/admin-dashboard.css?{{MEDIA_SERIAL}}" />
{% endblock %}

{% block content %}
<div id="dashboard-nav">
  <ul class="admin-menu">
      <li class="nav-first"><a href="{% url reviewboard.admin.views.dashboard %}">{% trans "Dashboard" %}</a></li>
      <li><a href="{% url reviewboard.admin.views.dashboard %}db/">{% trans "Database" %}</a></li>
      <li><a href="{% url site-settings %}">{% trans "Settings" %}</a></li>
  </ul>
  <div class="admin-title">Review Board Admin
   <img src="{{MEDIA_URL}}rb/images/admin/gears.png?{{MEDIA_SERIAL}}"
     alt="Review Board Admin" />
  </div>
 </div>

<div id="admin-dashboard" class="clear">
 <div class="dashboard-alert-wrap">
  <div class="dashboard-alert">
   <a href="#" class="close-alert"><img src="{{MEDIA_URL}}rb/images/delete.png?{{MEDIA_SERIAL}}"
    alt="Close Alert" title="Close Alert" width="14" height="14" /></a>
   <p><strong>Welcome to Review Board Administration!</strong></p>
   <p>This is your first time using the admin panel.</p>
   <p>Enjoy Review Board!</p>
  </div>
 </div>


 <div id="dashboard-view">

     <!-- Action Bar -->
     <div id="admin-actions" class="clear">
         {% admin_actions %}
     </div>
     <!-- Action Bar End -->
     <!-- Widgets -->
     <div id="admin-widgets">

        {% admin_widget "stats-large" _("Stats-Large") %}
        {% admin_widget "repositories" _("Repositories") %}
        {% admin_widget "user-activity" _("User Activity") %}
     </div><!-- Admin Large Widgets End -->

     <div class="admin-extras">
         {% admin_widget "request-statuses" _("Request Statuses") %}
         {% admin_widget "recent-actions" _("Recent Actions") %}
         {% admin_widget "review-groups" _("Review Groups") "rb/images/admin/set-auth.png" %}
         {% if has_cache_stats %}
             {% admin_widget "server-cache" _("Server Cache") "rb/images/admin/set-storage.png" %}
         {% endif %}
         {% admin_widget "news" _("Review Board News") "rb/images/rss.png" %}
         {% admin_widget "stats" _("Database Stats") %}

     </div><!-- Admin Extras End -->

     <!-- Widgets End -->
    </div>
 </div>
<br class="clear" />
{% endblock %}